/*
 * Copyright (c) 2024 Noah Boggs 
 *
 * SPDX-License-Identifier: MIT
 */

#include "reverb.dtsi" 

&default_transform {
    col-offset = <7>;
};

/* For PX.Y pins that don't have an alias, for example P1.13 use &gpio1 13*/
&kscan0 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        ;
};

// Configure pin assignments for spi2
&pinctrl {
    spi2_default: spi2_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,   // SCK pin (P0.22)
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,  // MOSI pin (P0.20)
                    <NRF_PSEL(SPIM_MISO, 0, 17)>;  // MISO pin (P0.17)
        };
    };
};

// trackball spi
// https://www.tindie.com/products/citizenjoe/pmw3389-motion-sensor/#specs
&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_default>;
    pinctrl-names = "default";
    motion_sensor: pmw3389@0 {
        compatible = "pixart,pmw3389";
        reg = <0>;
        spi-max-frequency = <1000000>; // 1MHz
        resolution = <200>;
   };
};

